#leftbox{
    border:1px solid black;
    width:460px;
    height:400px;
    background-color:rgb(172, 16, 16);
    margin-right:10px;
    padding:5px;
    float:left;
}

#rightbox{
    border:1px solid black;
    width:100px;
    height:400px;
    background-color: blue;
    float:right;
}