body{
    font-family: 'Merriweather', serif;
    background-color:#4da6ff;
    margin:0;
}

#wrapper{
    border:1px solid  #ccffee;
    background-color:  white;
    width:100%;
    /*width:1000px;*/
   /* height:1000px; */
    margin:auto;
    margin-top: 50px;
    border-radius: 10px;
}

#header{
    background-color:  white;
    width:1000px;
    height:200px;
    font-family: 'Great Vibes', cursive;
    margin:auto;
    border-radius: 10px;
}

#navigation{
    
    background-color:  #1affb2;
    /*background-color:black;*/
    /*width:1000px;*/
    height:50px;
    

    /*overflow: hidden;*/
    margin:0px;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

#navigation ul{
    margin:0;
    padding:0;
    list-style:none;
}
#navigation ul li{
    display:block;
    float:left;
    margin:auto;
}
#navigation ul li a{
	padding:10px 15px;
	height:20px;
	display:block;
}
#navigation ul li a:link,
#navigation ul li a:visited{
	text-decoration:none;
	color:white;
	transition: 500ms all ease;
}
#navigation ul li a:hover{
	background-color: #668cff;
    padding: 15px;
}
#navigation ul li a:active{
	background:#668cff
}

#main{
    background-color: red;
    /*padding:10px;*/
    width:80%;
    /*width:800px;*/
    /* height:700px; */
    float:left;
}

#sidebar{
    background-color: yellow;
    width:20%;
    /*width:180px;*/
    height:720px;
    float:right;
}

#footer{
    background-color:#1affb2;
    width:100%;
    /*width:1000px;*/
    height:50px;
    clear:both;
    border-radius: 0px 0px 10px 10px;
}
#footer a{
    text-decoration: none;
    color: black;
}

.summ{
    border:1px solid #66b3ff;
    border-radius: 5px;
    width:360px;
    height:400px;
    background-color:white;
    margin-right:10px;
    margin-bottom: 10px;
    padding:5px;
    float:left;
}

.summx{
    margin-left: 10px;
    margin-top: 10px;
}


.summx a:link,
.summx a:visited,
.summx a:active{
    
    text-decoration:none;
	color:black;
    /*transition: 500ms all ease;*/
}



.summ h2{
    background-color:#66b3ff;
    border-radius: 5px;
    color:white;
   
}
#rightbox{
    border:1px solid black;
    width:360px;
    height:400px;
    background-color: blue;
    padding:5px;
    float:right;
}

.pagination{
    display:block;
    float:left;
    clear:both;
    
    list-style:none;
}
.pagination li{
    display: block;
    float:left;
    padding: 10px;
}
.pagination li a{
	padding:10px 15px;
	height:20px;
	display:block;
}
.pagination li a:link,
.pagination li a:visited{
	text-decoration:none;
	color:#1affb2;
	transition: 500ms all ease;
}
.pagination li a:hover{
	background-color: #668cff;
	/*padding: 15px;*/
}
.paginaiton li a:active{
	background:#668cff
}

#pagg{
    margin:500px left;
}
#search{
    clear:both;
}
#sForm{
    display:block;
    margin-bottom:10px;
}
#sForm input{
    border-radius: 5px;
    border:1px solid #66b3ff;
}
#fb{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color:black;
}
#mail{
    float: right;
}
#contact{
    /*color:black;*/
}